@import "tailwindcss";

:root {
  --primary: #0a090c;
  --secondary: #f0edee;
  --accent-1: #90ddf0;
  --accent-1-5: rgba(144, 221, 240, 0.5);
  --accent-2: #f78987;
  --accent-2-5: rgba(247, 137, 135, 0.5);

  --font-cinzel: "Cinzel Decorative", serif;
  --font-tasa: "TASA Explorer", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .bg-accent-1 {
    background-color: var(--accent-1);
  }
  .bg-accent-1-5 {
    background-color: var(--accent-1-5);
  }
  .bg-accent-2 {
    background-color: var(--accent-2);
  }
  .bg-accent-2-5 {
    background-color: var(--accent-2-5);
  }
  .bg-dark {
    background-color: var(--dark);
  }

  .text-primary {
    color: var(--primary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .text-accent-1 {
    color: var(--accent-1);
  }
  .text-accent-1-5 {
    color: var(--accent-1-5);
  }
  .text-accent-2 {
    color: var(--accent-2);
  }
  .text-dark {
    color: var(--dark);
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-secondary: #0a0a0a;
    --color-primary: #f0edee;
  }
} */

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--secondary);
  color: var(--color-primary);
  font-family: var(--font-tasa, var(--font-tasa-fallback));
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-tasa);
  font-size: clamp(2rem, 5vw, 4rem);
}
h2,
h3,
h4,
p {
  font-family: var(--font-tasa);
  color: var(--color-dark);
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-style: italic;
}

p {
  font-size: clamp(0.85rem, 1.5vw, 0.75rem);
}

.customSpacing {
  & > * {
    margin-block-start: var(--flow-space, 0.5rlh);
  }

  h2 {
    --flow-space: 0.5rlh;
  }

  h3 {
    --flow-space: 1rlh;
  }
  p + h3 {
    --flow-space: 1rlh;
  }
  p + h2 {
    --flow-space: 1.5rlh;
  }

  h3 + * {
    --flow-space: 0.2rlh;
  }
}

.pfPicBackScreen {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.pfPicBackScreen::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 30%;
  aspect-ratio: 1/1;
  background-color: rgba(144, 221, 240, 0.5);

  z-index: -1;
  border-radius: 8px;
}

/* .header-back {
  background: url("/SVG/asset.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
} */
a:focus {
  outline: 2px solid var(--accent-1);
  outline-offset: 1px;
}
